<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" verbose="1" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="com.rdb.listeners.TestListener"/>
        <listener class-name="com.rdb.listeners.MethodInterceptor"/>
        <listener class-name="com.rdb.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Hamburger Menu Tests">
        <classes>
            <class name="com.rdb.tests.AmazonHamburgerMenuTests"/>
        </classes>
    </test>
    <test name="Header Tests">
        <classes>
            <class name="com.rdb.tests.AmazonHeaderTests"/>
        </classes>
    </test>
</suite>